<div class="container-fluid">
	<div class="row">
		<div id="header" class="col-sm-12">
			<h1>Welcome to Zia and Piper's Wedding Site</h1>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="center">
						<ul class="info">
							<li>Date: June 24th, 2017</li>
							<li>Location: Kensington, CA</li>
						</ul>
						<p>More information will be up shortly</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>