// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Wizard of the Moon';
    src: url('wizard_of_the_moon.ttf');
    src:url('wizard_of_the_moon.eot?#iefix') format('embedded-opentype'),
    url('wizard_of_the_moon.svg#wizard_of_the_moon') format('svg'),
    url('wizard_of_the_moon.woff') format('woff'),
    url('wizard_of_the_moon.ttf') format('truetype');
}

body {
	font-family: Helvetica, arial, sans-serif;
}

div#header {
	margin: 0 auto;
	font-size: 24px;
	width:100%;
	h1 {
		font-size: 48px;
		font-weight: 800;
		text-align: center;
		font-family: 'Wizard of the Moon', Helvetica, arial, sans-serif;
	}
	ul {
		list-style-type: none;
	}
}